<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mi Perfil</h1>
        <p>Soy un desarrollador web creativo.</p>
        <div class="row">
            <div class="column details">
                <h2>Detalles</h2>
                <p><strong>Nombre:</strong> Percy Ronald</p>
                <p><strong>Edad:</strong> 23 años</p>
                <p><strong>Ubicación:</strong> Huancayo</p>
            </div>
            <div class="column about">
                <h2>Acerca de mí</h2>
                <p>¡Hola! Soy un estudiante de desarrollo de sistemas de información y me paso el día entre líneas de código, buscando soluciones creativas a problemas y aprendiendo nuevas tecnologías.</p>
            </div>
        </div>
        <div class="highlight">
            <div class="profile-photo">
                <img src="{{ url_for('static', filename='imagenes/foto.jpg') }}" alt="Foto de perfil">
            </div>
            <h2>HOLA, SOY PERCY</h2>
            <p>Soy un estudiante de la carrera de Desarrollo de Sistemas de Información.</p>
        </div>
    </div>
</body>
</html>
